body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

/* Card Styling */

.heading {
  font-family: 'Roboto Condensed',
    sans-serif;
}


.backgroundCompetitor {
  height: 100vw;
  width: 100%;
  background-image: url(./imgs/sports.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
}

.contrastHeading {
  color: #fcb131;
  font-weight: bold;
  font-family: 'Roboto Condensed',
    sans-serif;
  font-size: 4rem;
}

.competitorCard {
  width: 25rem;
  height: 35rem;
  margin: auto;
  margin-top: 1rem;
  padding: 3rem;
  text-align: -webkit-center;
  display: flex;
  background-color: #afd3ff;
  border-color: #fcb131;
  border-width: 5px;
}

.sportCard {
  width: 25rem;
  height: 35rem;
  margin: 2rem;
  margin-top: 1rem;
  padding: 3rem;
  text-align: -webkit-center;
  background-color: #afd3ff;
  border-color: #fcb131;
  border-width: 5px;
}

.sportCardGroup {
  display: flex;
}

.titleFont {
  font-family: 'Roboto Condensed';
}

.italicFont {
  font-family: 'Cabin', sans-serif;
}

/* End of Card Styling */

.backgroundLanding {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #afd3ff;
}

.cardLinks {
  text-decoration: none;
  font-weight: bold;
  color: black;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Condensed',
    sans-serif;
}

.Links {
  height: 10vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link1 {
  background-color: #00A651;
}

.link2 {
  background-color: #fcb131;
}

.homePageHeader {
  height: 68vh;
  justify-content: center;
  text-align: center;
}

.homePageAnchor {
  text-align: center;
  justify-content: center;
}

.homePageheaderText {
  font-family: 'Roboto Condensed',
    sans-serif;
}

.colClass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grass {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.customNavBar {
  font-family: 'Roboto Condensed',
    sans-serif;
  background-color: transparent;
  position: fixed;

}

/* Categories Page */

.catergoriesCards {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: fixed;
}

.catergoriesTitle {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  color: #fcb131;

}

.homeEvents {
  height: 500px;
  padding: 50px;
  margin: 20px;
  background-color: #AFD3FE;
  -webkit-box-shadow: 0px -8px 0px 0px rgba(238, 51, 79, 1);
  -moz-box-shadow: 0px -8px 0px 0px rgba(238, 51, 79, 1);
  box-shadow: 0px -8px 0px 0px rgba(238, 51, 79, 1);
}

.homeLink {
  text-decoration: none !important;
  color: black;
}

.gardenEvents {
  height: 500px;
  padding: 50px;
  margin: 20px;
  background-color: #AFD3FE;
  -webkit-box-shadow: 0px -8px 0px 0px rgba(0, 10, 101, 1);
  -moz-box-shadow: 0px -8px 0px 0px rgba(0, 10, 101, 1);
  box-shadow: 0px -8px 0px 0px rgba(0, 10, 101, 1);
}

.gardenLink {
  text-decoration: none !important;
  color: black;
}

.mentalEvents {
  height: 500px;
  padding: 50px;
  margin: 20px;
  background-color: #AFD3FE;
  -webkit-box-shadow: 0px -8px 0px 0px rgba(0, 166, 81, 1);
  -moz-box-shadow: 0px -8px 0px 0px rgba(0, 166, 81, 1);
  box-shadow: 0px -8px 0px 0px rgba(0, 166, 81, 1);
}

.mentalLink {
  text-decoration: none !important;
  color: black;
}

.foodEvents {
  height: 500px;
  padding: 50px;
  margin: 20px;
  background-color: #AFD3FE;
  -webkit-box-shadow: 0px -8px 0px 0px rgba(252, 177, 49);
  -moz-box-shadow: 0px -8px 0px 0px rgba(252, 177, 49);
  box-shadow: 0px -8px 0px 0px rgba(252, 177, 49)
}

.foodLink {
  text-decoration: none !important;
  color: black;
}

.line {
  text-decoration: line-through;
}