body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

/* Card Styling */
.heading {
  font-family: 'Roboto Condensed', sans-serif;
}

.backgroundImage {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
  position: fixed;
  overflow-Y: scroll;
  background-image: url(./imgs/sports.jpg);
  text-align: center;
  object-fit: cover;
}

.contrastHeading {
  color: #fcb131;
  font-weight: bold;
  font-family: 'Roboto Condensed',
    sans-serif;
  font-size: 4rem;
}

.competitorCard {
  width: 25rem;
  margin: 0 auto 1.4rem;
  padding: 2.4rem;
  padding-bottom: .5rem;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #afd3ff;
  border-color: #fcb131;
  border-width: 5px;
}

.sportCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 35rem;
  margin: 3rem;
  margin-top: 3rem;
  padding: 3rem;
  text-align: -webkit-center;
  background-color: #afd3ff;
  border-color: #fcb131;
  border-width: 5px;
}

.sportCardGroup {
  width: 65rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.titleFont {
  font-family: 'Roboto Condensed';
}

.italicFont {
  font-family: 'Cabin', sans-serif;
}

.backBtn {
  padding: 10px 30px;
  background-color: #fcb131;
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  border: 2px solid black;
}

.backBtn:hover {
  color: #3c6da8;
}

/* End of Card Styling */

/* Competitor List Styling */

.competitorList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.competitorListItem {
  height: 75px;
  width: 500px;
  background-color: #fcb131;
  margin: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-width: 5px;
  border-color:#afd3ff;
}

.highlightText {
  color: rgb(245, 240, 234);
}

/* End of Competitor List Styling */


/*Home Page Styling */

.backgroundLanding {
  width: 100vw;
  height: 80vh;
}

.cardLinks {
  text-decoration: none;
  font-weight: bold;
  color: black;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto Condensed',
    sans-serif;
}

.Links {
  height: 10vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link1 {
  background-color: #00A651;
}

.link2 {
  background-color: #fcb131;
}

.homePageHeader {
  height: 70vh;
  justify-content: center;
  text-align: center;
}

.homePageAnchor {
  text-align: center;
  justify-content: center;
}

.homePageheaderText {
  font-family: 'Roboto Condensed',
    sans-serif;
  font-size: 50px;
}

.colClass {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grass {
  height: 10vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.customNavBar {
  font-family: 'Roboto Condensed',
    sans-serif;
  position: fixed;

}

/* Categories Page */

.catergoriesCards {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-image: url(./imgs/bgsport.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.catergoriesTitle {
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  color: #fcb131;

}

.eventLink {
  text-decoration: none !important;
  color: black;
  margin: 20px;
}

.categoryCard {
  width: 18rem;
  height: 350px;
  padding: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 0 !important;
}

.eventLink:nth-child(1) .categoryCard {
  -webkit-box-shadow: 0px -8px 0px 0px rgba(238, 51, 79, 1);
  -moz-box-shadow: 0px -8px 0px 0px rgba(238, 51, 79, 1);
  box-shadow: 8px -8px 25px 1px rgba(238, 51, 79, 1);
  border: 2px solid rgba(238, 51, 79, 1);
}

.eventLink:nth-child(2) .categoryCard  {
  -webkit-box-shadow: 0px -8px 0px 0px rgba(0, 10, 101, 1);
  -moz-box-shadow: 0px -8px 0px 0px rgba(0, 10, 101, 1);
  box-shadow: 8px -8px 25px 1px rgba(0, 10, 101, 1);
  border: 2px solid rgba(0, 10, 101, 1);
}

.eventLink:nth-child(3) .categoryCard  {
  -webkit-box-shadow: 0px -8px 0px 0px rgba(0, 166, 81, 1);
  -moz-box-shadow: 0px -8px 0px 0px rgba(0, 166, 81, 1);
  box-shadow: 8px -8px 25px 1px rgba(0, 166, 81, 1);
  border: 2px solid rgba(0, 166, 81, 1);
}

.eventLink:nth-child(4) .categoryCard  {
  -webkit-box-shadow: 0px -8px 0px 0px rgba(252, 177, 49);
  -moz-box-shadow: 0px -8px 0px 0px rgba(252, 177, 49);
  box-shadow: 8px -8px 25px 1px rgba(252, 177, 49);
  border: 2px solid rgba(252, 177, 49);
}

.eventLink:nth-child(1) i {
  color: rgba(238, 51, 79, 1);
}

.eventLink:nth-child(2) i {
  color: rgba(0, 10, 101, 1);
}

.eventLink:nth-child(3) i {
  color: rgba(0, 166, 81, 1);
}

.eventLink:nth-child(4) i {
  color: rgba(252, 177, 49);
}

.eventLink:nth-child(1):hover {
  color: rgba(238, 51, 79, 1);
}

.eventLink:nth-child(2):hover {
  color: rgba(0, 10, 101, 1);
}

.eventLink:nth-child(3):hover {
  color: rgba(0, 166, 81, 1);
}

.eventLink:nth-child(4):hover {
  color: rgba(252, 177, 49);
}

.progress {
  width: 60%;
  margin: auto;
  background-color: #AFD3FE;
  -webkit-box-shadow: 0px -8px 0px 0px rgba(252, 177, 49);
  -moz-box-shadow: 0px -8px 0px 0px rgba(252, 177, 49);
  box-shadow: 0px -8px 0px 0px rgba(252, 177, 49)
}

.lineColor {
  color: rgba(238, 51, 79, 1);
}

.line {
  text-decoration: line-through;
}

.fourOhFour {
  text-align: center;
  vertical-align: middle;
  display: block;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.centered {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Registration form */
.registrationCard {
  padding: 3rem;
  background-color: #afd3ff;
  border: solid 5px #fcb131;
  font-family: 'Roboto Condensed',
    sans-serif;
}